<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="alternate" type="application/rss+xml" title="{{site.title}}"
  href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/animate.min.css">
  <link rel="stylesheet" href="https://embed.acuityscheduling.com/embed/button/26977798.css"
  id="acuity-button-styles" />
  <script src="/assets/js/fade-in.js" defer></script>
  <script src="https://embed.acuityscheduling.com/embed/button/26977798.js" defer></script>
  <!--<script src="/assets/js/not-copy.js" defer></script>-->
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  {%seo%}
</head>