.box__grid {
  position: relative;
  z-index: 5;
  display: grid;
    align-items: center;
    justify-content: space-around;
    gap: 60px;
  @media (min-width: 900px) {
    display: flex;
  }
}
.page__text{
  text-align: center;
  position: relative;
  z-index: 2;
  @media (min-width: 900px) {
    text-align: left;
  }
}

img {
  margin: 0 auto;

  @media (min-width: 900px) {
    margin: 0;
  }
}

.page__content {
  position: relative;
}

.page__desc {
  padding: 30px 0;
}

.button {
  margin-top: 40px;
  background: white;
}

.page__decor {
  width: 100%;
  max-width: 400px;
  position: absolute;
  right: -150px;
  bottom: -30px;
  opacity: 0.02;
  @media (min-width: 500px) {
    max-width: 450px;
    right: -200px;
    bottom: -80px;
  }
}