---
layout: default
---

{%- assign page_data = site.data.people.people | where: "page_id", page.page_id | first -%}
{%- assign all_papers = site.data.papers.papers -%}
{%- assign projects = site.projects -%}
{%- assign person = site.data.people.people[page.page_id] -%}
<div class="page__header">
  <div class="container">
    <h1 class="fade-in fade-up">{{ page.title }}</h1>
  </div>
</div>

<div class="page__content">
  <div class="container">
    <div class="box__grid">
      <img width="500" style="max-width: 450px; width: 100%;" src="{{ person.image }}" alt="{{ person.name }}">
      <div class="page__text">
        <span><strong>{{ page.position }}</strong></span>
        <p class="page__desc">{{ person.description }}</p>
        {%- if person.website -%}
        <a class="button btn" href="{{ person.website }}">Website</a>
        {%- endif -%}
      </div>
      <img width="500" alt="Logo" class="page__decor" src="{{ site.logo }}">
    </div>
    
<!-- Projects Section -->
{%- assign person_projects = site.data.people.people[page.page_id].projects -%}
{%- if person_projects and person_projects.size > 0 -%}
  {%- assign valid_projects = false -%}

  {%- for project_id in person_projects -%}
    {%- assign person_project = projects | where: "project_id", project_id | first -%}
    {%- if person_project -%}
      {%- assign valid_projects = true -%}
      {%- break -%} 
    {%- endif -%}
  {%- endfor -%}

  {%- if valid_projects -%}
  <div class="people__project">
    <h2 class="border">Work Over</h2>
    <div class="projects__grid">
      {%- for project_id in person_projects -%}
        {%- assign person_project = projects | where: "project_id", project_id | first -%}
        {%- if person_project -%}
          <div class="project-page">
            <a href="{{ person_project.url }}" class="project-page">
              <img width="400" style="width: 100%; max-width: 300px; aspect-ratio: 1.4/1; border: 1px solid #00000014;"
                src="{{ person_project.image }}" alt="{{ person_project.title }}">
              <p class="project-page__name">{{ person_project.title }}</p>
            </a>
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
  {%- endif -%}
{%- endif -%}


    <!-- Papers Section -->
{%- if person.papers -%} 
<div class="people__papers">
  <h2 class="border papers-title">Papers
    <a onclick="togglePapers('papers-section')" id="chevron-papers-section">
      <span class="chevron down"></span>
    </a>
  </h2>
  <div class="publications" id="papers-section" style="display: none;">
    {%- for paper_key in person.papers -%} 
      {%- assign person_paper = all_papers | where: "bib_key", paper_key | first -%} 
      {%- if person_paper -%}
        <div class="paper-item">
          <div class="paper-content">
            {% include svg/papers.svg %}
            {%- if person_paper.citation == "bib" and person_paper.bib_key -%}
              <div class="citation">
                {% bibliography -f {{person_paper.bib_key}} %} 
              </div>
            {%- else -%}
              <p>{{ person_paper.citation }}</p> 
            {%- endif -%}

            {%- if person_paper.links -%}
              <p class="bib-btn">
                {%- for link in person_paper.links -%}
                  {%- assign unique_id = global_counter | append: "-bib" -%}
                  {%- assign global_counter = global_counter | plus: 1 -%} 
                  {%- if link.label == "bib" -%}
                    <a class="label" data-target="{{ unique_id }}" onclick="toggleBibliography('{{ unique_id }}')">{{ link.label }}</a>
                    <div id="{{ unique_id }}" class="bibliography-container" style="display: none;">
                      {%- capture bib_content -%}
                        {% include _bibliography/{{ link.href }}.bib %}
                      {%- endcapture -%}
                      <pre id="{{ unique_id }}-content"><code class="bibtex">{{ bib_content | strip }}</code></pre>
                      <p class="bib__buttons">
                        <a class="btn-save" onclick="copyToClipboard('{{ unique_id }}')">
                          {% include svg/copy.svg %}
                        </a>
                        <a href="/assets/bibliography/{{ link.href }}.bib" class="btn-save" target="_blank" download>
                          {% include svg/save.svg %}
                        </a>
                        <span id="{{ unique_id }}-message" class="copy-message" style="display: none;">Copied!</span>
                      </p>
                    </div>
                  {%- else -%}
                    <a class="label" href="{{ link.href }}" target="_blank">{{ link.label }}</a> <!-- For non-bib links like PDF -->
                  {%- endif -%}
                {%- endfor -%}
              </p>
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}
  </div>
</div>
{%- endif -%}
  </div>
</div>

<script src="/assets/js/bib.js"></script>
<script>
  function togglePapers(sectionId) {
    let papersDiv = document.getElementById(sectionId);
    let chevron = document.getElementById('chevron-' + sectionId).querySelector('.chevron');

    if (papersDiv.style.display === "none" || papersDiv.style.display === "") {
      papersDiv.style.display = "block";
      chevron.classList.remove('down');
      chevron.classList.add('up');
    } else {
      papersDiv.style.display = "none";
      chevron.classList.remove('up');
      chevron.classList.add('down');
    }
  }
</script>
